.boxSize {
    width: 25px;
    height: 25px;
    margin: 10px;
}

.container {
    display: flex;
    flex-direction: column;
}
.dicaEstilo {
    background-color: #b22222;
    color: #ffff;
    padding: 20px;
}
#cabeca {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
#tronco {
    height: 100px;
    width: 50px;
}
.active {
   border:1px solid #f00;
}